body {
	min-width: 256px;
}

.mainHeader {
	text-align: center;
}

.mainTabs button {
	background-color: grey;
	border: 1px solid black;
	color: white;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	cursor: pointer;
	width: 70%;
	padding: 5px;
	margin-left:15%;
}

.mainTabs button:not(:last-child) {
	border-bottom: none;
}

.pageContent {
	text-align: center;
}
