body {
	min-width: 256px;
	font-size: 1rem;
}

.mainHeader {
	text-align: center;
}

.mainTabs button {
	background-color: grey;
	border: 1px solid black;
	color: white;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 1.5rem;
	cursor: pointer;
	width: 80%;
	padding: 5px;
	margin-left:10%;
}

.mainTabs button:not(:last-child) {
	border-bottom: none;
}

.pageContent {
	text-align: center;
	margin-left:10%;
	width: 80%;
}

.promissories {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}

.promissoryHeader {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.promissoryBody {
	padding-left: 20px;
	padding-right: 20px;
}

.strategies {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}

.strategyHeader {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.strategyActions {
	padding-left: 20px;
	padding-right: 20px;
}

.secondaryHeader {
	border-top: 1px dashed black;
	padding-top: 20px;
}

.technologyType {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}

.technologyHeader {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.technologies {
	padding-left: 20px;
	padding-right: 20px;
}

.technologyType div:not(:last-child) {
	border-bottom: 1px dashed black;
	padding-bottom: 20px;
}
